-- Example 0
5
.....
####.
.....
.####
.....

possible
-- Example 1
5
.....
####.
97...
9#2##
97...

possible
-- Example 2
3
.111111111.
.#########.
..22222....

possible
-- Example 3
4
.#222#111
4#S#2#1#S
4#3#S#1#9
S33#111#.

possible
-- Example 4
2
..111111111111..
###############.

impossible
-- Example 5
2
..111111111111..
#######S#######.

possible
-- Example 6
4
..#.#.
..#.#.
#5#.5.
....#.

impossible
-- Example 7
5
.1.#.
.9.#.
.###.
2#.1.
.#.7.

impossible
