-- Example 0
xyz
5

yzx
-- Example 1
abc
1

abc
-- Example 2
abc
8

cba
-- Example 3
topcoder
58

ooredcpt
-- Example 4
aaaabcdeeeghhhhhiijjjkllmmooooqqrrrrssttuuvvvvvwyy
38517901796974

aaaacdeehhhijklmmqqrsttvvvvwyyvuusrrrooooljjihhgeb
