-- Example 0
3
..#.#.
..#..#
..#...
2
1
1
2
0
4

CL
-- Example 1
4
....
#..#
....
....
2
1
2
2
1
2

L?
-- Example 2
3
...
...
...
2
1
1
2
1
1

Impossible
-- Example 3
6
......
......
......
......
......
......
6
1
2
4
3
1
4
6
1
1
1
2
4
4

?CLL??
-- Example 4
3
...
...
...
1
0
1
0

Impossible
