-- Example 0
STANA

STANTA
-- Example 1
STN

SANTNA
-- Example 2
RATSNOOOA

DEARATSNOOOSANTA
-- Example 3
SXAYNTA

OOOOSOXAYNTOOOOAOOO
-- Example 4
SNTA

SANTA
-- Example 5
ASNTA

SASNTAS
-- Example 6
NIELATA

SANIELATAJA
-- Example 7
X

SSAAXNNTTAA
